<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <h4>Add Owner</h4>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="owner.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          id="email"
          required
          [(ngModel)]="owner.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          class="form-control"
          id="phoneNumber"
          required
          [(ngModel)]="owner.phoneNumber"
          name="phoneNumber"
        />
      </div>

      <button (click)="saveOwner()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Owner was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newOwner()">Add</button>
    </div>
  </div>
</div>
