<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <h4>Add Owner</h4>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="owner.name"
          name="name"
        />
        <div *ngIf="!valid && !owner.name" class="text-warning">Fill in all fields</div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          id="email"
          required
          [(ngModel)]="owner.email"
          name="email"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
        />
        <div *ngIf="!valid && owner.email && !isValidEmail(owner.email)" class="text-warning">Invalid email format.</div>
        <div *ngIf="!valid && !owner.email" class="text-warning">Fill in all fields</div>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          class="form-control"
          id="phoneNumber"
          required
          [(ngModel)]="owner.phoneNumber"
          name="phoneNumber"
          pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"
        />
        <div *ngIf="!valid && owner.phoneNumber && !isValidPhoneNumber(owner.phoneNumber)" class="text-warning">Invalid phone number format.</div>
        <div *ngIf="!valid && !owner.phoneNumber" class="text-warning">Fill in all fields</div>
      </div>

      <button (click)="saveOwner()" class="btn btn-success">Submit</button>
      <button routerLink="/owners" class="btn btn-info">Back</button>
    </div>

    <div *ngIf="submitted">
      <h4>Owner was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newOwner()">Add</button>
      <button routerLink="/owners" class="btn btn-info">Back</button>
    </div>
  </div>
</div>
